{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }}/{{ repo_name }}{% endblock %}
{% block title2 %}Tree{% endblock %}
{% block header_one %}<a href="{{ url_for('directory.repo_list', directory=repo_dir) }}">{{ repo_dir }}</a> / <a
    href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name) }}">{{ repo_name }}</a>{%
endblock %}
{% block main %}
<div class="main down">
    <div class="control-bar">
        {% include "/shared/includes/branch-select.html" %}
        <span>{{ repo_name }}/{{ tree_path }}</span>
    </div>
    <div class="down panel">
        {% if content_type == "TEXT" %}
        <pre><code>{{ content }}</code></pre>
        {% elif content_type == "IMAGE" %}
        <img style="max-width: 30%;margin: auto;" src="{{ content }}" alt="blob image preview">
        {% else %}
        <p>Preview not available for this file type, preview not available</p>
        {% endif %}
    </div>
</div>
{% endblock %}
