{% from "/shared/macros.html" import tree_ish_select with context %}
{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }}/{{ repo_name }}{% endblock %}
{% block title2 %}Commits{% endblock %}
{% block header_one %}<a href="{{ url_for('directory.repo_list', directory=repo_dir) }}">{{ repo_dir }}</a> / <a
    href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name, tree_ish=curr_tree_ish) }}">{{ repo_name
    }}</a>{%
endblock %}
{% block main %}
<div class="down">
    <div class="control-bar">
        {{ tree_ish_select('.repo_commit_log', 'tree-ish-select', "Branch/Tree", head, curr_tree_ish, branches, tags) }}
    </div>
    {% if logs|length == 0 %}
    <h3>No Commits Found</h3>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Hash</th>
                <th>When</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs -%}
            <tr>
                <td title="{{ log.subject }}">{{ log.subject|truncate(55) }}</td>
                <td title="{{ log.commit_hash }}"><button onclick="copy_to_clipboard('{{ log.commit_hash }}')"
                        title="Copy Commit Hash">{{ macros.feather_img('copy') }}</button>{{
                    log.commit_hash|truncate(10) }}</td>
                <td title="{{ log.commit_date }}">{{ log.commit_date.strftime("%Y-%m-%d") }}</td>
                <td><a href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name, tree_ish=log.commit_hash) }}"
                        title="Browse Repository At This Point">{{ macros.feather_img('code') }}</a></td>
            </tr>
            {% endfor -%}
        </tbody>
    </table>
    <div>
        {% if last_commit_hash %}
        <a class="bnt"
            href="{{ url_for('.repo_commit_log', repo_dir=repo_dir, repo_name=repo_name, tree_ish=curr_tree_ish, after=last_commit_hash) }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
