{% extends "/shared/base.html" %}
{% block title %}Create Repository{% endblock %}
{% block main %}
<form class="down" action="{{ url_for('.post_new_repo') }}" method="post">
    <a href="{{ url_for('.get_import_repo') }}">Import Instead</a>
    <label for="new-repo-name">Name*</label>
    <input type="text" name="name" id="new-repo-name" required>
    <label for="new-repo-dir">Directory*</label>
    <select name="directory" id="new-repo-dir" required>
        <option value=""></option>
        {% for name in dir_paths %}
        <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <label for="new-repo-desc">Description</label>
    <input type="text" name="description" id="new-repo-desc">
    <button type="submit">Create Repository</button>
</form>
{% endblock %}
