{% from "/shared/macros.html" import tree_ish_select with context %}
{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }}/{{ repo_name }}{% endblock %}
{% block title2 %}Repository{% endblock %}
{% block header_one %}<a href="{{ url_for('directory.repo_list', directory=repo_dir) }}">{{ repo_dir }}</a> / <a
    href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name, tree_ish=curr_tree_ish) }}">{{ repo_name }}</a>{%
endblock %}
{% block main %}
<div class="repo">
    <div class="main down">
        <div class="control-bar">
            {{ tree_ish_select('.repo_view', 'tree-ish-select', "Branch/Tree", head, curr_tree_ish, branches, tags) }}
        </div>
        {% if root_tree %}
        <div class="down">
            <div class="panel">
                <div class="tree-nav">
                    <div>
                        <a href="mailto:{{ recent_log.author_email }}">{{ recent_log.author_email|truncate(12) }}</a>
                        <span title="{{ recent_log.subject }}">{{ recent_log.subject|truncate(30) }}</span>
                    </div>
                    {% if head %}
                    <a href="{{ url_for('.repo_commit_log', repo_dir=repo_dir, repo_name=repo_name, tree_ish=curr_tree_ish) }}"
                        class="bnt" title="Commit Log">{{ macros.feather_img('list') }}<strong>{{ commit_count }}</strong></a>
                    {% endif %}
                </div>
                {% include "/shared/includes/tree.html" %}
            </div>
            <div id="rendered-text" class="panel">{{ readme_content|safe }}</div>
        </div>
        {% else %}
        <div>
            <p>No Commits Yet!</p>
            <p>Clone the repo and add some commits to see them here.</p>
        </div>
        {% endif %}
    </div>
    <aside class="aside">
        <div>
            <h3>About</h3>
            <p>{{ repo_description }}</p>
        </div>
        <div class="down">
            <h3>Clone</h3>
            <label for="repo-ssh-url">SSH:</label>
            <input id="repo-ssh-url" style="width: 135px;" type="text" value="{{ ssh_url }}" readonly>
            <label for="repo-http-url">HTTP:</label>
            <input id="repo-http-url" style="width: 135px;" type="text" value="{{ http_url }}" readonly>
        </div>
        <div>
            <h3>Download</h3>
            <a href="{{ url_for('.repo_archive', repo_dir=repo_dir, repo_name=repo_name, archive_type='zip') }}"
                download="{{ repo_name + '.zip' }}" class="bnt">{{ macros.feather_img('download') }} Zip</a>
            <a href="{{ url_for('.repo_archive', repo_dir=repo_dir, repo_name=repo_name, archive_type='tar.gz') }}"
                download="{{ repo_name + '.tar.gz' }}" class="bnt" title="Settings">{{ macros.feather_img('download') }}
                Tar</a>
        </div>
        <div>
            <h3>Admin</h3>
            <a href="{{ url_for('.repo_settings', repo_dir=repo_dir, repo_name=repo_name) }}" class="bnt">{{
                macros.feather_img('settings') }} Settings</a>
        </div>
    </aside>
</div>
{% endblock %}
