{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }}/{{ repo_name }}{% endblock %}
{% block title2 %}Settings{% endblock %}
{% block header_one %}<a href="{{ url_for('directory.repo_list', directory=repo_dir) }}">{{ repo_dir }}</a> / <a
    href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name) }}">{{ repo_name }}</a>{%
endblock %}
{% block main %}
<div class="down">
    <div class="panel control-bar">
        <a href="{{ url_for('.repo_delete', repo_dir=repo_dir, repo_name=repo_name) }}" class="bnt">{{
            macros.feather_img('trash-2') }} Delete Repository</a>
        {% if head %}
        <a href="{{ url_for('.repo_maintenance_run', repo_dir=repo_dir, repo_name=repo_name) }}" class="bnt">{{
            macros.feather_img('tool') }} Run Git Maintenance</a>
        {% endif %}
    </div>

    <form class="panel" action="{{ url_for('.repo_set_description', repo_dir=repo_dir, repo_name=repo_name) }}"
        method="post">
        <label for="repo-description">Description</label>
        <input type="text" name=".repo-description" id="repo-description" required>
        <button type="submit">{{ macros.feather_img('save') }}</button>
    </form>

    <form class="panel" action="{{ url_for('.repo_set_name', repo_dir=repo_dir, repo_name=repo_name) }}" method="post">
        <label for="repo-name">Name</label>
        <input type="text" name="repo-name" id="repo-name" required>
        <button type="submit">{{ macros.feather_img('save') }}</button>
    </form>
</div>
{% endblock %}
