{% from "/shared/macros.html" import tree_ish_select with context %}
{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }}/{{ repo_name }}{% endblock %}
{% block title2 %}Tree{% endblock %}
{% block header_one %}<a href="{{ url_for('directory.repo_list', directory=repo_dir) }}">{{ repo_dir }}</a> / <a
    href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name) }}">{{ repo_name }}</a>{%
endblock %}
{% block main %}
<div class="main down">
    <div class="control-bar">
        {{ tree_ish_select('.get_repo_tree', 'tree-ish-select', "Branch/Tree", head, curr_tree_ish, branches, tags,
        tree_path=tree_path) }}
        <nav aria-label="repo breadcrumb navigation">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name) }}">{{ repo_name }}</a>
                </li>
                {% for component in split_path %}
                {% if component.is_end %}
                <li class="active" aria-current="page">{{ component.name }}</li>
                {% else %}
                <li>
                    <a
                        href="{{ url_for('.get_repo_tree', repo_dir=repo_dir, repo_name=repo_name, tree_ish=curr_tree_ish, tree_path=component.full_path) }}">{{
                        component.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
    <div class="down">
        <div class="panel">
            <div class="tree-nav">
                <div>
                    <a href="mailto:{{ recent_log.author_email }}">{{ recent_log.author_email|truncate(12) }}</a>
                    <a href="{{ url_for('.repo_view', repo_dir=repo_dir, repo_name=repo_name, tree_ish=recent_log.commit_hash) }}"
                        title="{{ recent_log.subject }}">{{ recent_log.subject|truncate(30) }}</a>
                </div>
                {% if head %}
                <a href="{{ url_for('.repo_commit_log', repo_dir=repo_dir, repo_name=repo_name, tree_ish=curr_tree_ish) }}"
                    class="bnt" title="Commit Log">{{ macros.feather_img('list') }}</a>
                {% endif %}
            </div>
            {% include "/shared/includes/tree.html" %}
        </div>
    </div>
</div>
{% endblock %}
