{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }}/{{ repo_name }}{% endblock %}
{% block title2 %}Commits{% endblock %}
{% block header_one %}<a href="{{ url_for('repo_list', directory=repo_dir) }}">{{ repo_dir }}</a> / <a
    href="{{ url_for('repo_view', repo_dir=repo_dir, repo_name=repo_name) }}">{{ repo_name }}</a>{% endblock %}
{% block main %}
<div class="control-bar">
    <span>{{ curr_branch }}</span>
    {# TODO: Add branch select #}
</div>
<table>
    <thead>
        <tr>
            <th>Subject</th>
            <th>Hash</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.subject }}</td>
            <td>{{ log.commit_hash[:7] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
