<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ repo_name }}</title>
</head>
<body>
    <h1>{{ repo_name }}</h1>
    <a href="{{ url_for('repo_archive', repo_name=repo_name, archive_type='zip') }}"
        download="{{ repo_name + '.zip' }}">Download As Zip</a>
    <a href="{{ url_for('repo_archive', repo_name=repo_name, archive_type='.tar.gz') }}"
        download="{{ repo_name + '.tar.gz' }}">Download As Tar</a>
    <ul>
        {% for log in logs %}
        <li>{{ log.subject }} - {{ log.commit_hash[:7] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
