{% extends "/shared/base.html" %}
{% block title %}{{ repo_dir }} / {{ repo_name }}{% endblock %}
{% block title2 %}Repository{% endblock %}
{% block nav %}
<a href="{{ url_for('repo_list', directory=repo_dir) }}" class="bnt">Repos</a>
{% endblock %}
{% block main %}
<p class="sub">{{ repo_description }}</p>

<form action="{{ url_for('repo_set_description', repo_dir=repo_dir, repo_name=repo_name) }}" method="post">
    <label for="repo-description">Description</label>
    <input type="text" name="repo-description" id="repo-description" required>
    <button type="submit">Set</button>
</form>

<form action="{{ url_for('repo_set_name', repo_dir=repo_dir, repo_name=repo_name) }}" method="post">
    <label for="repo-name">Name</label>
    <input type="text" name="repo-name" id="repo-name" required>
    <button type="submit">Set</button>
</form>

<div class="sub">
    <label>SSH: <input type="text" value="{{ ssh_url }}" readonly></label>
    <a href="{{ url_for('repo_archive', repo_dir=repo_dir, repo_name=repo_name, archive_type='zip') }}"
        download="{{ repo_name + '.zip' }}" class="bnt">Download As Zip</a>
    <a href="{{ url_for('repo_archive', repo_dir=repo_dir, repo_name=repo_name, archive_type='tar.gz') }}"
        download="{{ repo_name + '.tar.gz' }}" class="bnt">Download As Tar</a>
</div>
<div class="sub">
    <a href="{{ url_for('repo_delete', repo_dir=repo_dir, repo_name=repo_name) }}" class="bnt">Delete</a>
    {% if head %}
    <a href="{{ url_for('repo_maintenance_run', repo_dir=repo_dir, repo_name=repo_name) }}" class="bnt">Run Maintenance</a>
    <a href="{{ url_for('repo_commit_log', repo_dir=repo_dir, repo_name=repo_name, branch=head) }}" class="bnt">Commits</a>
    {% endif %}
</div>
{% endblock %}
