{% extends "/shared/base.html" %}
{% block title %}Home{% endblock %}
{% block main %}
<section id="welcome-panel" class="sub down">
    <img src="{{ url_for('static', filename='icon-256.png') }}" alt="app icon">
    <h1>Basic Git Web Interface</h1>
    <h2>A fast and minimal git web interface.</h2>
</section>

<section class="sub down">
    <h2>Features</h2>
    <ul>
        <li>Fast on lower end devices, like a Raspberry Pi</li>
        <li>Cross-Platform, built with Python 3</li>
        <li>Containerized, built Docker image</li>
        <li>Stunning look, with site theme picker</li>
        <li>Open Source, get the code from: <a
                href="https://github.com/enchant97/basic-git-web-interface">github.com/enchant97/basic-git-web-interface</a>
        </li>
    </ul>
</section>

{% if current_user.is_authenticated %}
<p class="sub">Go <a href="{{ url_for('directory.get_dir_list') }}">Explore</a></p>
{% else %}
<p class="sub">To use this service please <a href="{{ url_for('auth.get_login') }}">login</a>.</p>
{% endif %}

{% endblock %}
