{% extends "/shared/base.html" %}
{% block title %}Login{% endblock %}
{% block title2 %}Login is required for this service{% endblock %}
{% block main %}
<form id="login-form" action="{{ url_for('auth.post_login') }}" method="post">
    <img src="{{ url_for('static', filename='icon-256.png') }}" alt="app icon">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="password..." required autofocus>
    <button type="submit">Login</button>
</form>
{% endblock %}
