:root {
  --font-dark: black;
  --font-light: #f0f0f0;
  --bg-col: #c4c4c4;
  --bg-sub-col: #cbcbcb;
  --bnt-col: #666666;
  --border-rad: 10px;
  --header-font: 'Roboto', sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --code-font: 'Fira Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-dark: var(--font-light);
    --font-light: #bebebe;
    --bg-col: #262626;
    --bg-sub-col: #242424;
    --bnt-col: #3d3d3d;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--bg-col);
}

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #353535;
}

::-webkit-scrollbar-thumb:active {
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--font-dark);
}

span,
a,
button,
p,
label,
input,
select,
table,
footer,
ul,
ol,
li,
textarea {
  font-size: 1em;
  font-family: var(--main-font);
  color: var(--font-dark);
}

pre code,
pre code span {
  font-size: 0.9em;
  font-family: var(--code-font);
  color: var(--font-dark);
}

input,
select,
textarea {
  border-radius: var(--border-rad);
  border: none;
  background-color: var(--bnt-col);
  padding: 8px;
  color: var(--font-light);
}

textarea {
  resize: none;
}

a {
  color: #1476bd;
}

body {
  background-color: var(--bg-col);
  max-width: 1300px;
  margin: auto;
  padding: 12px;
}

header {
  margin-bottom: 30px;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav a {
  display: flex;
  align-items: center;
}

header nav :nth-child(2) {
  margin-left: auto;
}

button,
.bnt {
  border-radius: var(--border-rad);
  padding: 10px;
  color: var(--font-light);
  text-decoration: none;
  background-color: var(--bnt-col);
  border: none;
}

button:hover,
.bnt:hover {
  background-color: black;
  cursor: pointer;
}

form,
.sub {
  border-radius: var(--border-rad);
  background-color: var(--bg-sub-col);
  padding: 15px;
  margin-bottom: 15px;
}

table {
  text-align: left;
  width: 100%;
}

footer {
  text-align: center;
  margin-top: 100px;
  border-top-style: solid;
  padding-top: 10px;
}

.flashes {
  position: fixed;
  float: right;
  top: 10px;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--font-light);
}

.flashes div {
  border-radius: var(--border-rad);
  padding: 10px;
  margin-bottom: 5px;
}

.flashes div span {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.flashes div span:hover {
  color: black;
}

.error {
  background-color: #c24141;
}

.ok {
  background-color: #3c9630;
}

.feather-icon {
  width: 24px;
  height: 18px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.down {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  background-color: var(--bg-sub-col);
  border: 2px solid black;
  border-radius: var(--border-rad);
  padding: 4px;
}

.control-bar {
  display: flex;
  align-items: center;
  gap: 4px;
}

.repo {
  display: flex;
  gap: 14px;
}

.repo .main {
  width: 100%;
}

.repo .aside {
  max-width: 25%;
}

.tree-nav {
  display: flex;
  align-items: center;
}

.tree-nav :last-child {
  margin-left: auto;
}

table.tree-objects {
  font-size: 0.9em;
  display: table-row;
}

table.tree-objects tbody tr td a {
  color: var(--font-light);
  text-decoration: none;
}

table.tree-objects tbody tr td a:hover {
  color: #1476bd;
  text-decoration: underline;
}

#theme-picker-selector {
  text-align: center;
}

#theme-picker-selector .current {
  background-color: #005e94;
}

#login-form {
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 50%;
}

#rendered-text pre {
  overflow: auto;
}

#welcome-panel img {
  max-width: 25%;
  margin: auto;
}

#welcome-panel h1 {
  font-size: 3em;
  text-align: center;
}

#welcome-panel h2 {
  font-size: 1.5em;
  text-align: center;
}

#login-form img {
  margin: auto;
  max-width: 200px;
}

@media(min-width:1000px) {
  .repo .aside {
    max-width: 35%;
  }
}

@media(max-width:780px) {
  .repo {
    flex-direction: column;
  }

  .repo .aside {
    max-width: 100%;
  }
}

/*
Code Styling

originally generated using: 'pygmentize -S default -f html > pygments.css
*/
.k,
.ch,
.cp,
.cpf,
.cs {
  color: #14832f;
}

.kc,
.kd,
.kn,
.kp,
.kr,
.ow,
.mi {
  color: #c42d2d;
}

.kt,
.nb,
.nc {
  color: #1a6bb8;
}

.cm,
.c1,
.s,
.sa,
.sb,
.sc,
.dl,
.sd,
.s2,
.se,
.sh,
.si,
.sx,
.sr,
.s1,
.ss {
  color: #527275;
}
