{% import "/shared/macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title2 %}{% endblock %} {% block title %}{% endblock %} | Basic Git Web Server</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='theme-changer.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <header>
        <nav>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('directory.directory_list') }}" class="bnt" title="Home">{{ macros.feather_img('home')
                }}</a>
            <a href="{{ url_for('directory.get_new_dir') }}" class="bnt" title="New Directory">{{
                macros.feather_img('folder-plus') }}</a>
            <a href="{{ url_for('repository.get_new_repo') }}" class="bnt" title="New Repo">{{
                macros.feather_img('plus') }}</a>
            <a href="{{ url_for('auth.do_logout') }}" class="bnt" title="Logout">{{ macros.feather_img('log-out') }}</a>
            {% endif %}
            <button id="themeToggleBnt" title="Change Site Theme">{{ macros.feather_img('sun') }}</button>
            {% block nav %}{% endblock %}
        </nav>
        <h1>{% block header_one %}{{ self.title() }}{% endblock %}</h1>
        <h2>{% block header_two %}{{ self.title2() }}{% endblock %}</h2>
        <h3>{% block header_three %}{% endblock %}</h3>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>Running Basic Git Web Server V{{ config.VERSION }}, provided by <strong><a
                href="https://github.com/enchant97">enchant97</a></strong></footer>
</body>

</html>
