<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title2 %}{% endblock %} {% block title %}{% endblock %} | Basic Git Web Server</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('directory_list') }}" class="bnt">Home</a>
            <a href="{{ url_for('do_logout') }}" class="bnt">Logout</a>
            {% endif %}
            {% block nav %}{% endblock %}
        </nav>
        <h1>{% block header_one %}{{ self.title() }}{% endblock %}</h1>
        <h2>{% block header_two %}{{ self.title2() }}{% endblock %}</h2>
        <h3>{% block header_three %}{% endblock %}</h3>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer></footer>
</body>
</html>
