<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title2 %}{% endblock %} {% block title %}{% endblock %} | Git Web Unnamed</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>{{ self.title() }}</h1>
        <h2>{{ self.title2() }}</h2>
        <nav>
            <a href="{{ url_for('directory_list') }}" class="bnt">Home</a>
            {% block nav %}{% endblock %}
        </nav>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer></footer>
</body>
</html>
